# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
db.sqlite3
*/static/
staticfiles/

# Migrations (optional, based on your team's practice)
*/migrations/

# Environment variables (use a separate .env file for secrets)
.env

# If you are using PostgreSQL or MySQL:
*.pgsql
*.mysql

# Ignore virtual environments
env/
venv/

# VSCode specific files
.vscode/

# PyCharm specific files
.idea/

# Sublime Text specific files
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
*.ipynb

# Security and API keys
*.pem
*.key

# MacOS-specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini

# Node.js related (if using npm/yarn for frontend packages)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# Pyright type checker
.pyright/

# Pylint
pylint-report.txt
pylint.log
